.new_footer_area {
  background: #fbfbfd; }
  .new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px; }

.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
  overflow-x: hidden; }
  .new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px; }
  .new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px; }
  .new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px; }
    .new_footer_top .f_widget.about-widget .f_list li a {
      color: #6a7695; }
      .new_footer_top .f_widget.about-widget .f_list li a:hover {
        color: #0dac14; }
  .new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px; }
    .new_footer_top .f_social_icon a:hover {
      background: #5e2ced;
      border-color: #5e2ced;
      color: white; }
    .new_footer_top .f_social_icon a + a {
      margin-left: 4px; }
  .new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e; }
  .new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("../images/footer_bg.svg") no-repeat scroll center 0;
    width: 100%;
    height: 266px; }
    .new_footer_top .footer_bg .footer_bg_one {
      background: url("../images/volks.gif") no-repeat center center;
      width: 330px;
      height: 105px;
      background-size: 100%;
      position: absolute;
      bottom: 0;
      left: 30%;
      -webkit-animation: myfirst 22s linear infinite;
      animation: myfirst 22s linear infinite; }
    .new_footer_top .footer_bg .footer_bg_two {
      background: url("../images/cyclist.gif") no-repeat center center;
      width: 88px;
      height: 100px;
      background-size: 100%;
      bottom: 0;
      left: 38%;
      position: absolute;
      -webkit-animation: myfirst 30s linear infinite;
      animation: myfirst 30s linear infinite; }

.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px; }

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff; }
  .btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
    background: transparent;
    color: #5e2ced; }

.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none; }

.f_widget.about-widget .f_list {
  margin-bottom: 0px; }
  .f_widget.about-widget .f_list li {
    margin-bottom: 15px; }
    .f_widget.about-widget .f_list li:last-child {
      margin-bottom: 0px; }

.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.ti-facebook:before {
  content: "\e741"; }

.f_600 {
  font-weight: 600; }

.f_size_18 {
  font-size: 18px; }

h1 {
  color: #4b505e; }

h2 {
  color: #4b505e; }

h3 {
  color: #4b505e; }

h4 {
  color: #4b505e; }

h5 {
  color: #4b505e; }

h6 {
  color: #4b505e; }

.nav-container ul {
  display: flex;
  list-style-type: none; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: white; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.disclaimer {
  display: none !important; }



@media (max-width: 600px) and (min-width: 400px) {
  .footersize {
    text-align: center; } }

@media screen and (max-width: 990px) {
  .nav-container ul {
    display: flex;
    flex-direction: column; } }

.tarjetalogo img {
  margin-bottom: 10px; }

a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  outline: none; }

@font-face {
  font-family: gothamroundedalertas;
  src: url("../Fonts/GothamRnd-Book.otf"); }

.tarjeta-item p {
  font-family: gothamroundedalertas; }

.f_size_guardias {
  font-size: 50px;
  margin-top: 40px; }

.f_size_guardiasblog {
  font-size: 50px;
  margin-top: 5px; }

.item-fixed ul {
  position: fixed;
  bottom: 80px;
  right: 10px;
  list-style: none;
  z-index: 2; }

.br {
  border-radius: 50%; }

.volverainicio-item {
  width: 50px;
  margin-right: 10px;
  margin-bottom: 10px; }

.posicionflecha {
  display: flex;
  justify-content: right; }

.box:hover {
  transform: scale(1.1);
  transition-property: all;
  transition-duration: 2s; }

.sizevermas {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px; }

@-moz-keyframes myfirst {
  0% {
    left: -25%; }
  100% {
    left: 100%; } }

@-webkit-keyframes myfirst {
  0% {
    left: -25%; }
  100% {
    left: 100%; } }

@keyframes myfirst {
  0% {
    left: -25%; }
  100% {
    left: 100%; } }


/*------------------------------------------------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


:root {
 
  --clr-green: #9dce16;
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}


.btn1 {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn5 {
  
  background: transparent;
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 16px;
  border: 2px solid var(--clr-black);
  border-radius: var(--radius);
  

}

.btn1:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}


/* Preguntas/Questions */

.title {
  margin-top: 15vh;
  margin-bottom: 4rem;
}
.title h2 {
  color: var(--clr-green);
  font-family: gothamroundedalertas ;
  text-align: center;
}
.section-center {
  max-width: var(--fixed-width);
}
.question {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.question-title p {
  margin-bottom: 0;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-1);
}
.question-btn1 {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-green);
  transition: var(--transition);
}
.question-btn:hover {
  transform: rotate(90deg);
}
.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.question-text p {
  margin-bottom: 0;
}



/* Texto escondido */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}